.uber-button {
        background-color: #000;
        color: #fff;
        border: none;
        height: 36px;
        width: 110px;
        cursor: pointer;
        display: block;
        margin-bottom: 10px;
      }

      .amazon-button {
        background-color: rgb(255, 216, 20);
        color: black;
        border: none;
        height: 36px;
        width: 150px;
        cursor: pointer;
        display: block;
        margin-bottom: 10px;
        border-radius: 18px;
      }

      .github-button {
        background-color: rgb(46, 164, 79);
        color: white;
        border: none;
        height: 36px;
        width: 80px;
        cursor: pointer;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
        font-weight: 600;
        padding-top: 1px;
      }

      .bootstrap-button-1 {
        background-color: rgb(121, 82, 179);
        color: white;
        border: none;
        height: 36px;
        width: 110px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 2px;
        font-weight: 600;
      }

      .bootstrap-button-2 {
        background-color: white;
        color: rgb(108, 117, 125);
        border-width: 1px;
        border-color: rgb(108, 117, 125);
        height: 36px;
        width: 110px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 2px;
        font-weight: 600;
      }

      .linkedin-button-1 {
        background-color: rgb(10, 102, 194);
        color: white;
        border: none;
        height: 36px;
        width: 200px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 18px;
        font-weight: 600;
      }

      .linkedin-button-2 {
        background-color: white;
        color: rgb(10, 102, 194);
        border-color: rgb(10, 102, 194);
        border-width: 1px;
        height: 36px;
        width: 70px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 18px;
        font-weight: 600;
      }

      .inline-btn {
        display: inline-block;
        margin-right: 10px; /* space between buttons */
        margin-bottom: 10px;
      }